/* body, html {
    background-color: #282A36;
}
* {
    background-color: #282A36;
    color: #F8F8F2;
}
path:not([fill="none"]), polygon:not([fill="none"]),
polyline:not([fill="none"]), pattern:not([fill="none"]) {
    fill: #fff;
}
video {
    background-color: inherit;
}
pre, pre > *, pre > * >*, code, code > *, code > * > * {
    background-color: #44475A;
}
a, a > * {
    color: #92a4c1;
}
a:visited, a:visited > * {
    color: #5178b5;
}
a:hover, a:hover > * {
    background-color: #44475A;
}
em, strong, b {
    color: #FFFFA5;
}
*[role="button"], *[role="button"]:hover {
    border: 1px solid #fff;
}
input[type="text"] {
    border-bottom: 1px solid #fff;
}
input::placeholder {
    color: #ffffff70;
}
a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont, bdo, big, blockquote, br, button, canvas
caption, center, cite, code, col, colgroup, datalist, dd, del, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure
font, footer, form, frame, frameset, head, header, h1, h2, h3, h4, h5, h6, hr, html, i, html, iframe, img, input, ins, kbd
label, legend, li, link, main, map, mark, meta meter, nav, noscript, object, ol, optgroup, option, p, param, pre, progress,
q, s, samp, script, section, select, small, source, span, strike, strong, style, sub, sup, table, tbody, td, textarea, 
tfoot, th, thead, time, title, tr, u, ul, var, video, wbr {
    background: inherit;
    background-image: inherit;
} */